# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
build.gradle
.gradle
gradle/*
gradlew
gradlew.bat
gradle.properties

# other
eclipse
run
README.txt
CREDITS.txt
changelog.txt

# Files from Forge MDK
forge*changelog.txt
